<div class="wrapper" [class.is-mobile]="mobileQuery.matches" >

  <mat-toolbar color="primary" class="toolbar">
    <!--<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
    <h1 class="app-name">App</h1>

    <nav>
      <a class="router-link" routerLink="/posts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Posts</a>
      <a class="router-link" routerLink="/posts/1" routerLinkActive="active">Posts</a>
      <a class="router-link" routerLink="/404" routerLinkActive="active">404</a>
      <a class="router-link" routerLink="/signin" routerLinkActive="active">signin</a>

    </nav>

    <div class="flex-spacer"></div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="isLogined" mat-menu-item (click)="createPostModalOpen()">
        <mat-icon>create</mat-icon>
        <span>Create post</span>
      </button>
      <button *ngIf="isLogined" mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
      <button *ngIf="!isLogined" mat-menu-item routerLink="/signin">
        <span>Log in</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 64">

    <mat-sidenav #snav mode='over' fixedInViewport [fixedTopGap]="mobileQuery.matches ? 56 : 64">
      <mat-nav-list>
        <a mat-list-item routerLink="." >Test</a>
        <a mat-list-item routerLink="/posts" >Posts</a>
        <a mat-list-item routerLink="/404" >404</a>

      </mat-nav-list>
    </mat-sidenav>

    <!--<mat-sidenav-content class="sidenav-content">-->
      <!--<div class="container mt-2">-->
        <!--<router-outlet></router-outlet>-->
      <!--</div>-->
    <!--</mat-sidenav-content>-->

  </mat-sidenav-container>
</div>
