.wrapper {
  display: flex;
  flex-direction: column;
  //position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
  margin-right: 8px;
}

.sidenav {
  &-container {
    flex: 1;

    &.is-mobile {
      flex: 1 0 auto;
    }
  }
}

.router-link {
  margin-right: 5px;
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }
}
