.posts-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__item {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }


}
#indication {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  width: 5px;
  height: 3px;
  z-index: 66;
  background-color: #FF3366;
}

