<div id="indication" #indication></div>
<div
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="requestPosts()"
>
  <ul class="posts-list">
    <li
      class="posts-list__item"
      *ngFor="let post of posts$ | async; trackBy: trackById"
      [@shrinkOut]="'in'"
    >
      <app-post
        [post]="post"
        [isViewDetailsPage]="false"
      ></app-post>
    </li>
    <li *ngIf="isEndPosts$ | async">End posts</li>
  </ul>
</div>

<app-loading-spinner *ngIf="isFetching$ | async"></app-loading-spinner>

<!--(likePostChanged)="likePostValue($event)"-->
