<h3>Create post</h3>

<div class="container">
  <form [formGroup]="postCreate" (ngSubmit)="onSubmit()" class="form-post-create">

    <mat-form-field class="form-element">
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Image src" formControlName="image">
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Text" formControlName="body">
    </mat-form-field>

    <div class="form-post-create__buttons">
      <button mat-raised-button color="primary" type="submit" class="button">Create post</button>
      <button mat-raised-button color="primary" type="button" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>

<app-loading-spinner *ngIf="isFetching$ | async"></app-loading-spinner>
