.post-card {
  max-width: 400px;

  &--width {
    max-width: none;
    margin: 8px auto;
  }

  &__header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  &__img {
    outline: none;

    img {
      max-height: 320px;
      object-fit: cover;
      margin-top: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__value-like {
    margin: 0 5px;
  }
}

