<mat-card class="post-card" [class.post-card--width]="isViewDetailsPage">
  <mat-card-header>
    <div mat-card-avatar class="post-card__header-image"></div>

    <div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
    </div>

    <div class="flex-spacer" *ngIf="isViewDetailsPage"></div>

    <div class="post-card__menu-wrap" *ngIf="isViewDetailsPage">
      <button mat-button disableRipple [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deletedPost(post.id, isViewDetailsPage)">
          <mat-icon>delete</mat-icon>
          <span>Delete post</span>
        </button>
        <button mat-menu-item (click)="openDialog(true)">
          <mat-icon>edit</mat-icon>
          <span>Edit post</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>

  <div class="post-card__img" (click)="openDialog(false)">
    <img mat-card-image src={{post.image}}>
  </div>

  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>

  <mat-card-actions>
    <div class="post-card__buttons">

      <button mat-button disableRipple (click)="addLike(post)">
        <mat-icon class="post-card__icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <span class="post-card__value post-card__value-like ">{{post.valueLikes}}</span>
      </button>

      <div class="flex-spacer"></div>

      <div class="post-card__menu-wrap" *ngIf="!isViewDetailsPage">
        <button mat-button disableRipple [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deletedPost(post.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete post</span>
          </button>
          <button mat-menu-item (click)="openComments()">
            <mat-icon>comment</mat-icon>
            <span>Comments</span>
          </button>
        </mat-menu>
      </div>

    </div>
  </mat-card-actions>

  <!--<app-post-field-comment *ngIf="isOpenComments"></app-post-field-comment>-->

  <app-post-comments-list [postId]="post.id" *ngIf="isOpenComments" [isViewDetailsPage]="false"></app-post-comments-list>

</mat-card>

<app-loading-spinner *ngIf="isFetching$ | async"></app-loading-spinner>
