html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  &:focus {
    outline: none;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.flex-spacer {
  flex-grow: 1;
}

.mat-drawer-backdrop.ng-star-inserted.mat-drawer-shown {
  position: fixed;
}

.comment-spinner-wrap {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100% !important;
}

.h {
  &--90 {
    height: 90px;
  }
}
