.loading {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: white; */
  z-index: 1;
  /* opacity: 0.8; */
  /* filter: blur(8px); */

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 1;
    opacity: 0.15;
    filter: blur(10px);
  }

  .mat-spinner {
    position: relative;
    z-index: 3;
  }
}
