<div class="not-found">
  <!--<h3 >-->
    <!--404 We are searching for your page...-->
  <!--</h3>-->
  <!--<div >-->
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
  <!--</div>-->
  <!--<h4>-->
    <!--... But we can not find it.-->
  <!--</h4>-->
  <div class="not-found__img-wrap">
    <img class="not-found__img img-fluid" src="assets/images/not-found.png" alt="">
  </div>
</div>
