<div class="container post-detail-wrap">
  <app-post
    *ngIf="post"
    [post]="post"
    [isViewDetailsPage]="true"
  ></app-post>

  <app-post-comments-list
    [postId]="selectedId"
    [isViewDetailsPage]="true"></app-post-comments-list>
</div>

<!--(likePost)="likePost($event)"-->
