<div class="container">
  <div class="comment-field row align-items-baseline">

    <mat-form-field>
      <input matInput placeholder="Comment" type="text" [formControl]="commentField">
    </mat-form-field>

    <div class="flex-spacer"></div>

    <button
      mat-raised-button
      color="primary"
      class="comment-field__btn"
      (click)="addComment(commentField)"
    >comment
    </button>

  </div>
</div>

