<app-post-field-comment (comment)="addComment($event)"></app-post-field-comment>

<div class="comment-spinner-wrap" *ngIf="isFetching">
  <mat-spinner diameter="25"></mat-spinner>
</div>

<div class="text-center" *ngIf="!comments?.length">We have no comment.</div>

<mat-list class="comment-list" *ngIf="!isFetching">
  <mat-card-header
    class="comment-list__item mb-2"
    *ngFor="let comment of comments; trackBy: trackById"
    [@shrinkOut]="'in'"
  >
    <div mat-card-avatar class="comment-list__avatar"></div>

    <div class="comment-list__inner">
      <div class="comment-list__name">
        <!--<span>{{comment.name}}</span>-->
        <a class="comment-list__mail" href="mailto:{{comment.email}}">{{comment.email}}</a>
      </div>
      <div class="comment-list__date">{{commetnDate}}</div>

      <div *ngIf="!isViewDetailsPage" class="comment-list__body">{{comment.body | shortComment : 65}}</div>
      <div *ngIf="isViewDetailsPage" class="comment-list__body">{{comment.body}}</div>

    </div>


    <div class="flex-spacer"></div>

    <div class="comment-list__menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteComment(comment.id)">
          <mat-icon>delete</mat-icon>
          <span>Deleted</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>

  <div class="comment-list__more-btn" *ngIf="!isViewDetailsPage">
    <a mat-raised-button [routerLink]="['/posts', postId]" color="primary">View more</a>
  </div>
  <div class="comment-list__more-btn" *ngIf="(isViewDetailsPage) && comments?.length && !(isEndComments$ | async)">
    <button mat-raised-button (click)="getComments(postId)" color="primary">View more comments</button>
  </div>
</mat-list>
