.comment-list {
  padding-bottom: 8px;

  &__item {
    ::ng-deep .mat-card-header-text {
      margin: 0 8px;
    }
  }

  &__avatar {
    background-image: url(https://images.dog.ceo/breeds/akita/Akita_inu_blanc.jpg);
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }

  &__inner {}

  &__name {}

  &__mail {
    font-size: 12px;
    opacity: 0.5;
    color: #000;
  }

  &__date {
    font-size: 10px;
  }

  &__body {
    /*need lib*/
    //overflow: hidden;
    //max-height: 50px;
  }

  &__menu {}

  &__more-btn {
    display: flex;
    justify-content: center;
  }
}
