<mat-card class="login-wrapper">
  <mat-card-title appHighlight defaultColor="red">Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input [type]="isViewPassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
        <mat-icon matSuffix>
          <!--<mat-checkbox formControlName="viewPassword" [(ngModel)]="isViewPassword" ></mat-checkbox>-->
        </mat-icon>
      </mat-form-field>

      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

<app-loading-spinner *ngIf="isFetching$ | async"></app-loading-spinner>
