<mat-card #editModalPost class="post-card-modal" [class.post-card-modal--width]="isViewDetailsPage" [formGroup]="postEdition">
  <mat-card-header>
    <div mat-card-avatar class="post-card-modal__header-image"></div>

    <div class="post-card-modal__header w-100">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>

        <ng-container *ngIf="!isEditing">{{post.title}}</ng-container>
        <mat-form-field *ngIf="isEditing" class="w-100">
          <input matInput type="text" placeholder="Title" value="{{post.title}}" formControlName="title">
        </mat-form-field>

      </mat-card-subtitle>
    </div>

    <div class="flex-spacer"></div>

    <div class="post-card-modal__menu-wrap">
      <button mat-button disableRipple [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="routeToPost()">
          <mat-icon>more</mat-icon>
          <span>View post</span>
        </button>
        <button *ngIf="!isEditing" mat-menu-item (click)="editPost()">
          <mat-icon>edit</mat-icon>
          <span>Edit post</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>


  <mat-form-field *ngIf="isEditing" class="w-100">
    <input matInput type="text" placeholder="Image src" value="{{post.image}}" formControlName="image">
  </mat-form-field>
  <div class="post-card-modal__img" (click)="routeToPost()">
    <img mat-card-image src={{post.image}}>
  </div>

  <mat-card-content>
    <p *ngIf="!isEditing">{{post.body}}</p>

    <mat-form-field *ngIf="isEditing" class="w-100" [style.height.px]='90'>
      <textarea matInput class="h--90" placeholder="Post text" value="{{post.body}}" formControlName="body"></textarea>
    </mat-form-field>
  </mat-card-content>

  <div class="post-card-modal__buttons">
    <button mat-raised-button color="primary" *ngIf="isEditing" (click)="onSave()">Save</button>
    <button mat-raised-button color="primary" *ngIf="isEditing" mat-dialog-close>Cancel</button>
  </div>

</mat-card>

<app-loading-spinner *ngIf="isFetching$ | async"></app-loading-spinner>
